<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.greenart.mapper.CoronaInfoMapper">
    <insert id="insertCoronaInfo">
        INSERT INTO corona_info.corona_info
        (accExamCnt, accExamCompCnt, careCnt, clearCnt, deathCnt, decideCnt, examCnt, resultNegCnt, stateTime)
        VALUES
        (#{accExamCnt}, #{accExamCompCnt}, #{careCnt}, #{clearCnt}, #{deathCnt}, #{decideCnt}, #{examCnt}, #{resultNegCnt}, #{stateTime});
    </insert>
    <select id="selectCoronaInfoByDate" resultType="com.greenart.vo.CoronaInfoVO">
        select * from corona_info where stateTime >= str_to_date(#{date}, "%Y-%m-%d")
    </select>

    <insert id="insertCoronaSidoInfo">
        INSERT INTO sido_info
            (createDt, deathCnt, defCnt, gubun, incDec, isolClearCnt, isolIngCnt, localOccCnt, overFlowCnt)
        VALUES
            (#{createDt}, #{deathCnt}, #{defCnt}, #{gubun}, #{incDec}, #{isolClearCnt}, #{isolIngCnt}, #{localOccCnt}, #{overFlowCnt});
    </insert>
    <select id="selectSidoInfoByDate" resultType="com.greenart.vo.SidoInfoVO">
        select * from sido_info where createDt >= str_to_date(#{date}, "%Y-%m-%d") and gubun != '합계'
    </select>
    
    <insert id="insertCoronaAgeInfo">
        INSERT INTO age_info
        (confCase, confCaseRate, createDt, criticalRate, death, deathRate, gubun)
        VALUES(#{confCase}, #{confCaseRate}, #{createDt}, #{criticalRate}, #{death}, #{deathRate}, #{gubun})
    </insert>
    <select id="selectCoronaAgeInfo" resultType="com.greenart.vo.CoronaAgeInfoVO">
        select * from age_info 
        where 
        	gubun != '여성' and gubun != '남성'
        	and date_format(createDt, "%Y-%m-%d") =  str_to_date(#{date}, "%Y-%m-%d")
    </select>
    <select id="selectCoronaGenInfo" resultType="com.greenart.vo.CoronaAgeInfoVO">
        select * from age_info 
        where (gubun = '여성' or gubun = '남성') 
        and date_format(createDt, "%Y-%m-%d") =  str_to_date(#{date}, "%Y-%m-%d")
    </select>

    <insert id="insertCoronaVaccineInfo">
        INSERT INTO vaccine_info
        (accFirstCnt, accSecondCnt, regDt, fistCnt, secondCnt, sido)
        VALUES(#{accFirstCnt}, #{accSecondCnt}, #{regDt}, #{fistCnt}, #{secondCnt}, #{sido});
    </insert>
    <select id="selectCoronaVaccineInfo" resultType="com.greenart.vo.VaccineInfoVO">
        select * from vaccine_info
        where date_format(regDt, '%Y-%m-%d') = str_to_date(#{date}, '%Y-%m-%d')
        and sido != '전국';
    </select>
</mapper>